services:
  rso-frontend:
    container_name: rso-frontend
    build:
      context: .
      target: dev
    ports:
      - "3003:3000"
    environment:
      NUXT_HOST: "0.0.0.0"
      NUXT_PORT: "3000"

      CHOKIDAR_USEPOLLING: "true"
      CHOKIDAR_INTERVAL: "200"

      NODE_ENV: "development"

    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
      - /usr/src/app/.nuxt

    command: npm run dev -- --host 0.0.0.0 --port 3000
