services:
  rso-frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: rso-frontend
    ports:
      - "3003:3000"
    environment:
      NUXT_PUBLIC_API_BASE: "http://localhost:8081"
      NUXT_PUBLIC_KC_URL: "http://localhost:8080"
      NUXT_PUBLIC_KC_REALM: "rso"
      NUXT_PUBLIC_KC_CLIENT_ID: "rso-frontend"
    volumes:
      - .:/app
      - rso_frontend_node_modules:/app/node_modules
      - rso_frontend_nuxt:/app/.nuxt
    command: npm run dev -- --host 0.0.0.0 --port 3000

volumes:
  rso_frontend_node_modules:
  rso_frontend_nuxt:
